<div ng-include="'partials/userheader.html'"></div>
<div class="container">
  <div uib-alert class="alert-box" ng-show="alertHide" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert()">{{alert.msg}}</div>
<form class="form-signin">
  <h2>Update Info </h2>
  <input type="text" name="{{user.first_name}}" class="form-control mr-btm-10" ng-model="user.first_name" placeholder="First Name" required="" autofocus="" />
  <input type="text" name="{{user.last_name}}" class="form-control mr-btm-10" ng-model="user.last_name" placeholder="Last Name" required="" autofocus="" />
  <input type="email" name="{{user.email}}"class="form-control mr-btm-10" ng-model ="user.email" placeholder="Email Address" required="" autofocus="" />
  <input type="text" name="{{user.mobile}}" class="form-control mr-btm-10" ng-model="user.mobile" placeholder="Mobile Number" required="" autofocus="" />
  <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="update_user(user)">Update</button>
  </form>
  </div>
