<div ng-include="'partials/admin/header.html'"></div>
<button type="submit" class="btn create-btn btn-primary" ng-click="create_product()">
  <i class="wht-clr fa fa-plus-circle" aria-hidden="true"></i> Create Product
</button>
<div class="container">
  <div class="table-responsive mr-top-30">
    <table class="table">
  <thead>
      <tr>
        <th>Sr.</th>
        <th>Product Name</th>
        <th>Product URL</th>
        <th>SKU</th>
        <th>Price</th>
        <th>Status</th>
        <th>Stock</th>
        <th>Course Type</th>
        <th>Serving Time</th>
        <th>Update</th>
        <th>Deactivate</th>
      </tr>
    </thead>
  <tr >
    <tbody>
      <tr ng-repeat = "product in products">
        <td>{{$index + 1}}</td>
        <td>{{product.product_name}}</td>
        <td>{{product.product_slug}}</td>
        <td>{{product.product_sku}}</td>
        <td>{{product.product_price}}</td>
        <td ng-if = "product.active == 0">InActive</td>
        <td ng-if = "product.active == 1">Active</td>
        <td>{{product.product_stock}}</td>
        <td>{{product.meal_type}}</td>
        <td>{{product.meal_serving_type}}</td>
        <td><button type="button" class="btn btn-info" ng-click="get_product(product.id);showModal();">Update</button></a></td>
        <td><button type="button" class="btn btn-danger" ng-click="delete_product(product.id)">Deactivate</button></td>
      </tr>
    </tbody>
</table>
</div>
<div ng-if = "totalItems">
<pagination total-items="totalItems" ng-model="prpagination.currentpage" ng-change="prpageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></pagination>
</div>
<!-- modal for updating user -->
<!-- Modal -->
<script type="text/ng-template" id="myModal.html">
    <div class="modal-header">
        <h3 class="modal-title text-center">Update product</h3>
    </div>
    <div class="modal-body">
      <div uib-alert class="alert-box" ng-show="alertHide" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert()">{{alert.msg}}</div>
      <form class="form-signin">
        <input type="text" class="form-control mr-btm-10" name="product_detail.product_name" ng-model="product_detail.product_name" placeholder="Product Name" required="" autofocus="" />
        <input type="text" class="form-control mr-btm-10" name="product_detail.product_sku" ng-model="product_detail.product_sku" placeholder="Product SKU" required="" autofocus="" />
        <input type="text" class="form-control mr-btm-10" name="product_detail.product_price" ng-model ="product_detail.product_price" placeholder="Product Price" required="" autofocus="" />
        <input type="text" class="form-control mr-btm-10" name="product_detail.product_stock" ng-model="product_detail.product_stock" placeholder="Product Stock" required="" autofocus="" />
        <div class="drop-pr">
          Meal Type
        <select ng-model="update_product_detail.meal_type" ng-options="meal as meal.name for meal in custom_meal_types ">
        </select>
        </div>
        <div class="drop-pr">
          Serving Timing
        <select ng-model="update_product_detail.meal_serving_type" ng-options="timing as timing.name for timing in custom_serving_types ">
        </select>
        </div>
        <div class="drop-pr">
          Product Status
        <select ng-model="update_product_detail.product_status" ng-options="status.value as status.name for status in product_status ">
        </select>
        </div>
        <input type="textarea" class="form-control mr-btm-10" name="product_detail.product_desc" ng-model="product_detail.product_desc" placeholder="Product Description" required="" autofocus="" />
        </div>
      </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="update_product(product_detail,update_product_detail);ok();">Update</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
</script>
</div>
